:root {
  --base-color: #31175b;
  --base-color-darker: #1a0c30;
  --text-color: #edf1fa;
  --accent-color-pink: #da62c4;
  --accent-color-pink-darker: #ac2893;
  --accent-color-yellow: #f4d752;
  --accent-color-blue: #229fff;
  --accent-color-purple: #4f39fa;
  --accent-color-green: #33f06f;
  --body-font: "DM Serif Text", serif;
  --display-font: "Poller One", cursive;
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}
