:root {
  --base-color: #31175b;
  --base-color-darker: #1a0c30;
  --text-color: #edf1fa;
  --accent-color-pink: #da62c4;
  --accent-color-pink-darker: #ac2893;
  --accent-color-yellow: #f4d752;
  --accent-color-blue: #229fff;
  --accent-color-purple: #4f39fa;
  --accent-color-green: #33f06f;
  --body-font: "DM Serif Text", serif;
  --display-font: "Poller One", cursive;
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}