---
import Layout from "@layouts/Layout.astro";
import GameCard from "@components/GameCard.astro";
import { getCollection } from 'astro:content';

const allGames = await getCollection('games');
---

<Layout title="Linda's Arcade!">
  <main>
    <section class="intro">
      <p>Welcome to the</p>
      <h1>Arcade!</h1>
    </section>
    <section class="games-wrapper">
      {allGames.map((game, idx) => <GameCard game={game} idx={idx} />)}
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
  }

  .intro {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .intro p {
    margin-bottom: -0.25rem;
  }

  .games-wrapper {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.3fr));
    gap: 1rem;
  }
</style>
