---
import Layout from '@layouts/Layout.astro';
import Machine from '@components/Machine.astro';
import { gamesData } from '@helpers/games';
---

<Layout title="Linda's Arcade!">
	<main>
		<h1>Welcome to the Arcade!</h1>
    <section class="game-machines">
      {gamesData.map((game) => (<Machine game={game} ></Machine>))}
    </section>
	</main>
</Layout>

<style>
  /* @import '../styles/global.css'; */

	main {
		margin: auto;
    padding: 1em;
		max-width: 60ch;
	}

  .game-machines {
    border: 1px solid var(--accent-color-blue);
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
</style>
