---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Linda's Arcade!">
	<main>
		<h1>Welcome to the Arcade!</h1>
	</main>
</Layout>

<style>
  /* @import '../styles/global.css'; */

	main {
		margin: auto;
    padding: 1em;
		max-width: 60ch;
	}
</style>
