---
import Layout from "@layouts/Layout.astro";
import Machine from "@components/Machine.astro";
import { gamesData } from "@helpers/games";
---

<Layout title="Linda's Arcade!">
  <main>
    <h1>Welcome to the Arcade!</h1>
    <section class="game-machines">
      {gamesData.map((game) => <Machine game={game} />)}
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 2em;
  }

  h1 {
    text-align: center;
  }

  .game-machines {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2%;
  }
</style>
