---
import { Icon } from "astro-icon";
---

<main>
  <section class="cb-rules-wrapper">
    <h2>Objective:</h2>
    <p>Guess the randomly generated 4 digit code.</p>

    <details class="cb-rules">
      <summary>How to play:</summary>
      <ul>
        <li>Each guess must consist of 4 numeric characters.</li>
        <li>Numbers may be used more than once!</li>
        <li>You win only if your guess is an exact match.</li>
        <li>You lose if you fail to guess the code under 10 guesses.</li>
        <li>
          <Icon name="check" />
           Indicates a number is in the correct place.
          <li>
            <Icon name="transfer" />
             Indicates a number is part of the code, but not in the right
            position.
          </li>
          <li>
            <Icon name="transfer" />
             Doesn't consider how many times a number exists in the code.
          </li>
          <li>
            <Icon name="x" />
             Indicates a number is not part of the code.
          </li>
        </li>
      </ul>
    </details>
  </section>

  <section class="cb-game-wrapper">
    <div>
      <p class="final-result">????</p>
      <p class="message"></p>
    </div>

    <div class="guessing-div form-inline">
      <input type="hidden" id="attempt" />
      <input type="hidden" id="answer" />
      <input id="user-guess" class="form-control" type="number" />
      <button class="form-button">Submit Guess</button>
    </div>

    <div class="replay-div hidden">
      <button class="replay-button">Play again?</button>
    </div>

    <div class="results">
      <div>
        <strong>Guess</strong>
      </div>
      <div>
        <strong>Result</strong>
      </div>
      <div class="text-guess"></div>
      <div class="icon-guess"></div>
    </div>
  </section>
</main>

<script>
  // all the query selectors
  let answer: HTMLInputElement | null = document.querySelector("#answer");
  let attemptCount: HTMLInputElement | null =
    document.querySelector("#attempt");
  let userInput: HTMLInputElement | null =
    document.querySelector("#user-guess");
  let results = document.querySelector(".results");
  let finalResult = document.querySelector(".final-result");
  let message = document.querySelector(".message");
  let guessesBox = document.querySelector(".text-guess");
  let encodedGuessesBox = document.querySelector(".icon-guess");

  // event listeners for buttons
  document.querySelector(".form-button")!.addEventListener("click", () => {
    guess();
  });

  document.querySelector(".replay-button")?.addEventListener("click", () => {
    resetAnswerValues();
    userInput!.value = "";
    finalResult!.innerHTML = "????";
    finalResult!.classList.remove("success");
    finalResult!.classList.remove("failure");
    message!.innerHTML = "";
    toggleReplayButton();
  });

  // helper functions
  function toggleReplayButton() {
    document.querySelector(".guessing-div")!.classList.toggle("hidden");
    document.querySelector(".replay-div")!.classList.toggle("hidden");
  }

  function resetAnswerValues() {
    answer!.value = Math.floor(Math.random() * 9999).toString();
    // if the random number is not 4 values long, pad the front with zeroes
    while (answer!.value.length < 4) {
      answer!.value = "0" + answer!.value;
    }
    attemptCount!.value = "0";
  }

  function setMessage(text) {
    message!.innerHTML = text;
  }

  function validateInputLength(param) {
    if (param.length === 4) {
      return true;
    } else {
      setMessage("Guesses must be exactly 4 characters long.");
      return false;
    }
  }

  function showAnswer(gotIt) {
    finalResult!.innerHTML = answer!.value;

    if (gotIt) {
      finalResult!.classList.add("success");
    } else {
      finalResult!.classList.add("failure");
    }
  }

  // sets the guess and encoded result values in the UI, then returns a boolean based on the number of correct numbers in the guess
  function getResults(userGuess) {
    const right = '<Icon name="check" />';
    const mixed = '<Icon name="transfer" />';
    const wrong = '<Icon name="x" />';

    const rightAnswer = answer!.value;
    let encodedAnswer = "";
    let correctNumbers = 0;

    for (let i = 0; i < 4; i++) {
      let current = userGuess.charAt(i);
      if (rightAnswer.charAt(i) === current) {
        encodedAnswer += right;
        correctNumbers++;
      } else if (rightAnswer.includes(current)) {
        encodedAnswer += mixed;
      } else {
        encodedAnswer += wrong;
      }
    }

    console.log(encodedAnswer)

    guessesBox!.innerHTML += userGuess;
    encodedGuessesBox!.innerHTML += encodedAnswer;

    if (correctNumbers === 4) {
      return true;
    } else {
      return false;
    }
  }

  // main game function
  function guess() {
    // for initial load or reset
    if (answer!.value === "" || attemptCount!.value === "") {
      resetAnswerValues();
    }

    if (!validateInputLength(userInput!.value)) {
      return false;
    } else {
      attemptCount!.value += 1;
    }

    let guessIsRight: boolean = getResults(userInput!.value);

    if (guessIsRight) {
      setMessage("You Win! :)");
      showAnswer(true);
      toggleReplayButton();
    } else if (!guessIsRight && Number(attemptCount!.value) >= 10) {
      setMessage("You Lose! :(");
      showAnswer(false);
      toggleReplayButton();
    } else {
      setMessage("Incorrect, please try again.");
    }
  }
</script>

<style>
  main {
    margin-top: 20px;
    width: 100dvw;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 1.1rem;
  }

  section {
    width: 55dvw;
    padding: 0.5rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  input {
    padding: 0.25rem;
  }

  button {
    padding: 0.25rem;
  }

  .final-result {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }

  .failure {
    color: #d9534f;
  }

  .success {
    color: #5cb85c;
  }

  .message {
    font-weight: bold;
    text-align: center;
    height: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .form-inline {
    margin-bottom: 3.5rem;
  }

  .form-button {
    margin-left: 0.25rem;
  }

  .cb-rules {
    width: 520px;
  }

  .hidden {
    display: none;
  }

  .guessing-div,
  .replay-div {
    text-align: center;
  }

  [astro-icon] {
    width: 22px;
    vertical-align: text-bottom;
  }
</style>
