---
interface Props {
  gameColor?: string;
  name: string;
}

const { gameColor = "", name } = Astro.props;
---

<section class={`head-name ${gameColor}`}>
  <h2>{name}</h2>
</section>

<style>
  .head-name {
    border-bottom-width: 4px;
    border-bottom-style: inset;
    padding-top: 0.75rem;
    margin-bottom: 5px;
    display: grid;
    place-items: center;
    background-color: var(--c-base);
  }

  .head-name h2 {
    text-align: center;
    font-size: clamp(1.5rem, 1.5rem, 100%);
  }
</style>
