---
interface Props {
  gameColor?: string;
  shouldShow?: boolean;
}

const { gameColor = "", shouldShow = false } = Astro.props;
---

<section class="m-panel">
  <div class:list={["panel-dash", { "pd-visible": shouldShow }]}>
    <div class="dash-dpad"></div>
    <div class="dash-buttons">
      <div class="g1">
        <div class="dash-button b1"></div>
        <div class="dash-button b2"></div>
      </div>
      <div class="g2">
        <div class="dash-button b3"></div>
        <div class="dash-button b4"></div>
      </div>
    </div>
  </div>
  <div class:list={[`panel-front ${gameColor}`, { "pf-borders": shouldShow }]}>
    <div class="panel-info">
      <slot />
    </div>
    <div class="panel-coinslot"><p>¢</p></div>
  </div>
</section>

<style>
  .m-panel {
    /* padding: 0 0.5rem; */
    display: flex;
    flex-direction: column;
    perspective: 700px;
  }

  .panel-front {
    flex-grow: 1;
    border-width: 2px;
    border-style: solid;
    display: grid;
    grid-template-columns: 85% 15%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  .panel-info {
    padding: 0.25rem;
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
    /* display: flex;
    align-items: center; */
  }

  .panel-coinslot {
    height: 4.5em;
    background-color: var(--c-black);
    border-radius: 5px;
    position: relative;
    font-size: 0.8rem;
    text-align: center;
    font-family: var(--display-font);
    margin-right: 0.25rem;
    margin-top: 0.375rem;
  }

  .panel-coinslot p {
    margin: 0.125rem 0 0;
  }

  .panel-coinslot::after {
    content: "";
    display: block;
    position: absolute;
    top: 2em;
    left: calc(50% - 0.2em);
    width: 0.4em;
    height: 1.4em;
    background-color: var(--c-white);
    border-radius: 3px;
  }

  .panel-dash {
    display: none;
  }

  .pd-visible {
    display: flex;
    margin: 0 auto;
    background-color: var(--c-black);
    width: 98%;
    height: 50px;
    transform: rotateX(30deg) translateY(2px);
  }

  .pf-borders {
    border-left-color: var(--c-black);
    border-right-color: var(--c-black);
    border-bottom-color: var(--c-black);
  }

  .dash-dpad {
    width: 50%;
    height: 100%;
  }

  .dash-buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .g1, .g2 {
    width: 25%;
  }

  .dash-button {
    width: 15px;
    height: 15px;
    border-radius: 50px;
  }

  .b1,
  .b3 {
    background-color: var(--c-accent-yellow);
  }

  .b2,
  .b4 {
    background-color: var(--c-accent-pink);
    margin-left: 20px;
  }
</style>
