---
import type { GameType } from "@helpers/games";

export interface Props {
  game: GameType
}

const { game } = Astro.props as Props;
---

<article class="machine">
  <h2>{ game.title }</h2>
  <img src={game.photo} alt={game.photoAlt} />
  <ul>
    {game.tags.map((tag) => (
      <li class="button">{tag}</li>
    ))}
  </ul>
  <p>{game.tagline}</p>
</article>

<style>
  /* @import '../styles/global.css'; */

   .machine {
    border: 1px solid var(--accent-color-pink);
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
    border-top: 1px dashed var(--accent-color-yellow);
    border-bottom: 1px dashed var(--accent-color-yellow);
    padding: 5%;
    margin-top: 10px;
  }

  img {
    width: 65%;
    aspect-ratio: 4/3;
    margin: 0 auto;
  }

  p {
    padding: 0 8%;
  }  
</style>