---
import MachineHead from "@components/MachineHead.astro";
import MachinePanel from "@components/MachinePanel.astro";
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  game: CollectionEntry<"games">;
  gameColor: string;
}

const { game, gameColor } = Astro.props;
---

<Layout title={game.data.title}>
  <MachineHead name={game.data.title} gameColor={gameColor} />
  <section class="game-screen">
    <slot />
  </section>
  <MachinePanel gameColor={gameColor} >
    <p>Some text for now to see where the panel is</p>
  </MachinePanel>
</Layout>

<style>
  .game-screen {
    width: 80%;
  }
</style>
